.iframe-embed {
    display: block;
    text-align: center;
}

.cb {
    height: 100%;
}

.side-button {
    height: 100%;
}

.carousel-button {
    border: none;
    height: 100%;
}

.carousel-button:hover {
    border: solid 2px;
}